html {
  font-family: "Futura PT";
  background-color: #e53333;
}

a {
  text-align: center;
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ffbd60;
}

h1, h2, p {
  text-align: center;
  color: white;
}

.roboto {
  font-family: "Roboto Condensed", sans-serif;
}

.pink {
  color: #f27272;
}

.grey {
  color: #4c4c4c;
}

@media only screen and (min-width: 38em) {

  html {
    background-color: #000;
  }

}
